{{> head }}
{{> navbar }}

<div class="row">
    <div class="col-8">
<h1>About Page</h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore culpa illo beatae, odit laboriosam earum tempore voluptatibus fugiat facilis perferendis. Voluptatibus at delectus, aliquam eveniet velit pariatur quisquam nostrum architecto!
</p>
    </div>

    <div class="col-4">
        <img src="./assets/img/img.jpg" class="img-thumbnail">
    </div>
</div>


{{> footer }}